[Unit]
Description=Telegram bot 'Bot Template'
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/bot/
ExecStart=/usr/bin/bash -c "source env/bin/activate && python -m bot"
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target